body {
  background: #ffffff;
}

h1.ui.header.jumbotron {
  font-size: 3em;
}

.lightweight-font {
  font-weight: 400;
}

.faded {
  color: rgba(0, 0, 0, 0.5);
}

label.image-input-button input[type="file"] {
    position: fixed;
    top: -1000px;
}

label.image-input-button {
  width: 200px;
  height: 200px;
  display: block;
  padding: 50px;
  border: 2px dashed #d4d4d5;
  text-align: center;
}

label.image-input-button .ui.middle.aligned.statistic {
  margin: 0;
}

.ui.basic.table.uploaded-images-table tr {
  border-bottom: 0px;
}
